<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Connexion</h1>
     {% if erreur %}
        <p style="color:red">{{ erreur }}</p>
    {% endif %}
    <form action="/connexion", method="POST">
        Pseudo: <input type="text" name="pseudo">
        Mot de passe: <input type="password" name="mdp">
        <button type='submit'>Se connecter</button>
    </form>

    <p>pas de compte?</p>
    <h1>Inscription</h1>
     {% if erreur %}
        <p style="color:red">{{ erreur }}</p>
    {% endif %}
    <form action="/inscription", method="POST">
        Pseudo: <input type="text" name="pseudo">
        Mot de passe: <input type="password" name="mdp">
        <button type='submit'>S'inscrire</button>
    </form>
</body>
</html>