<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TomoDachImac</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="icon" type="image/png" href="../static/style/assets/logo_tomodachimac.png">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/style/assets/logo_tomodachimac.png" alt="TomoDachImac">
        </div>
    </header>
    <div class="carte">
        {% if erreurconnexion %}
        <p style="color:red">{{ erreurconnexion }}</p>
        {% endif %}

        <h2>Connexion</h2>
        <form action="/connexion" , method="POST">
            <div class="champ">
                <label>Identifiant</label>
                <input type="text" name="pseudo">
            </div>
            <div class="champ" style="margin-top: 10px;">
                <label>mdp</label>
                <input type="password" name="mdp">
            </div>
            <div style="margin-top:18px;">
                <button type="submit" class="boutton">Se connecter</button>
            </div>
        </form>

        <hr class="separateur">
        <h2>Inscription</h2>
        {% if erreurinscription %}
        <p style="color:red">{{ erreurinscription }}</p>
        {% endif %}
        <form action="/inscription" method="POST">
            <div class="champ">
                <label>Identifiant</label>
                <input type="text" name="pseudo" required>
            </div>
            <div class="champ" style="margin-top:10px;">
                <label>mdp</label>
                <input type="password" name="mdp" required>
            </div>
            <div style="margin-top:18px;">
                <button type="submit" class="boutton">S'inscrire</button>
            </div>
        </form>
    </div>
</body>

</html>