<!DOCTYPE html>
<html>

<head>
    <title>Island creation</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <div class="carte">
    <h1>Créer une nouvelle ile</h1>
    {% if erreur %}
        <p style="color:red">{{ erreur }}</p>
    {% endif %}
    <form action='/create_island' method='POST'>
        <label>Nom de votre île : <input type="text" name="nom" required></label>
        <button class="boutton" type='submit'>Ajouter</button>
    </form>
        <a class="lien-secondaire a" href="/profile">Retour au profil</a>
    </div>
</body>

</html>