<!DOCTYPE html>
<link rel="stylesheet" href="../static/style/style.css">
<html>

<head>
    <title>Island creation</title>
</head>

<body>
    <h1>Créer une nouvelle ile</h1>
    <form action='/addIsland' method='POST'>
        <label>Nom de votre île : <input type="text" name="nom" required></label>
        <input type="text" value="((session ['user'] ['id_compte']))" name="id_comte">
        <button type='submit'>Ajouter</button>
    </form>
</body>

    <a href="/profile">Retour au profil</a>
</body>
</html>