<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family</title>
</head>
<body>
    <h1>Other members of {{miiInfo.nom_mii}}'s family</h1>
    <div class="family-miis-container">
        <p>Father</p>
        <div class="mii-card">
           <img src="{{fatherInfo.image}}" alt="{{fatherInfo.nom_mii}}">
            <p>{{fatherInfo.nom_mii}}</p>
        </div>
        <p>Mother</p>
        <div class="mii-card">
           <img src="{{motherInfo.image}}" alt="{{motherInfo.nom_mii}}">
            <p>{{motherInfo.nom_mii}}</p>
        </div>
        <p>Siblings</p>
        {% for siblingInfo in siblingsInfo %}
            <div class="mii-card">
                <a href="/display_mii?id_mii={{siblingInfo.id_mii}}">
                    <img src="{{siblingInfo.image}}" alt="{{siblingInfo.nom_mii}}">
                </a>
                <p>{{siblingInfo.nom_mii}}</p>
            </div>
        {% endfor %}
        <p>Other members</p>
        {% for member in otherMembers %}
            <div class="mii-card">
                <a href="/display_mii?id_mii={{member.id_mii}}">
                    <img src="{{member.image}}" alt="{{member.nom_mii}}">
                </a>
                <p>{{siblingInfo.nom_mii}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>