<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Island</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="icon" type="image/png" href="../static/style/assets/logo_tomodachimac.png">
</head>
<body>
    <h1>{{islandName}}</h1>
    <p>Average note: {{avgNote}}</p>
    <p>Number of Miis: {{nbMiis}}</p>

    <div class="miis-container">
        {% for mii in IslandMiis %}
            <div class="mii-card">
                <a href="/display_mii/{{mii.id_mii}}">
                    <img src="{{mii.image}}" alt="{{mii.nom_mii}}">
                </a>
                <p>{{mii.nom_mii}}</p>
            </div>
        {% endfor %}

        <div class="mii-card">
            <a href="/create_mii/{{id_ile}}">
                Create new mii
                <img src="../miis/create_mii.png" alt="mii creation">
            </a>
        </div>
    </div>
</body>
</html>