<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Island</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="icon" type="image/png" href="../static/style/assets/logo_tomodachimac.png">
</head>
<body>
    <div class="carte">
    <h1>{{islandName}}</h1>
    <p>Average note: {{avgNote}}</p>
    <p>Number of Miis: {{nbMiis}}</p>
    
        <div class="miis-container">
            {% for mii in IslandMiis %}
                <div class="mii-card">
                    <img src="../static/style/assets/logo_tomodachimac.png" alt="TomoDachImac">
                    <!--img src="{{mii.image}}" alt="{{mii.nom_mii}}"-->
                    <p>{{mii.name}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>