<!DOCTYPE html>
<html>

<head>
    <title>Liste des étudiants</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <table border='1' width='100%'>
        <tr>
            <td>ID</td>
            <td>pseudo</td>
            <td>Supprimer</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id_compte}}</td>
            <td>{{user.pseudo}}</td>
            <td>
                <form action='/supprimer' method='POST'>
                    <input type='hidden' name='id' value='{{user.id_compte}}'>
                    <button type='submit'>Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>
        <a href='/'>Retour au menu</a>
        <a href='/saisie'>Ajouter un étudiant</a>
    </p>
</body>

</html>