<!DOCTYPE html>
<link rel="stylesheet" href="../static/style/style.css">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if session['user'] %}
    <p>Bonjour {{ session['user']['pseudo'] }}</p>
    <p><a href="/all_islands">Boir les iles de tt le monde</a></p>
    {% if iles %}
    {% for ile in iles %}
    <a href="/rate_island/{{ ile['id_ile'] }}">{{ ile['nom_ile'] }}</a>
    {% endfor %}

    <p><a href="/create_island">Ajouter une nouvelle île</a></p>
    {% else %}
    <p>Vous n'avez pas d'île <a href="/create_island">créer une île</a></p>
    {% endif %}

    {% else %}
    <p>Vous n'êtes pas connecté <a href="">se connecter</a></p>
    {% endif %}
</body>

</html>