<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 {% if session['user'] %}
        <p>Bonjour {{ session['user']['pseudo'] }}</p>
        <p>Vous n'avez pas d'île <a href="/create_island">créer une île</a></p>
        <p>Nom de l'ile</p>
        <p><a href="">Ajouter une nouvelle île</a></p>
    {% else %}
        <p>Vous n'êtes pas connecté <a href="">se connecter</a></p>
    {% endif %}
</body>
</html>