<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="carte">
    <h1>Saisir une note /5</h1>
    <form action="/rate_island/{{ id_ile }}" method="POST">
        Note: <input type="text" name="note">
        <button type='submit'>Valider</button>
    </form>
    <a href="/profile">Retour</a>
    </div>
</body>
</html>